<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sakura.Tools.Aoe2FontGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <applicationSettings>
        <Sakura.Tools.Aoe2FontGenerator.Properties.Settings>
            <setting name="DefaultGlyphRatioTicks" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0.5</string>
                        <string>0.6</string>
                        <string>0.7</string>
                        <string>0.8</string>
                        <string>0.9</string>
                        <string>1.0</string>
                        <string>1.1</string>
                        <string>1.2</string>
                        <string>1.3</string>
                        <string>1.4</string>
                        <string>1.5</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultBaselineOffsetTicks" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>-1</string>
                        <string>-0.8</string>
                        <string>-0.4</string>
                        <string>-0.2</string>
                        <string>0</string>
                        <string>0.2</string>
                        <string>0.4</string>
                        <string>0.6</string>
                        <string>0.8</string>
                        <string>1</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultMetaFileName" serializeAs="String">
                <value>combined.box</value>
            </setting>
            <setting name="DefaultSurfaceFileFormat" serializeAs="String">
                <value>combined_{0:D4}.dds</value>
            </setting>
            <setting name="DefaultSansSerifMetaFileName" serializeAs="String">
                <value>combined_sansserif.box</value>
            </setting>
            <setting name="DefaultSansSerifSurfaceFileFormat" serializeAs="String">
                <value>combined_sansserif_{0:D4}.dds</value>
            </setting>
            <setting name="DefaultTextureSize" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="DefaultGlyphSize" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="DefaultGlyphSpace" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DefaultDebugDirectory" serializeAs="String">
                <value>Debug</value>
            </setting>
        </Sakura.Tools.Aoe2FontGenerator.Properties.Settings>
    </applicationSettings>
</configuration>
