<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sakura.Tools.Aoe2FontGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <applicationSettings>
        <Sakura.Tools.Aoe2FontGenerator.Properties.Settings>
            <setting name="DefaultMetaFileName" serializeAs="String">
                <value>combined.box</value>
            </setting>
            <setting name="DefaultSurfaceFileFormat" serializeAs="String">
                <value>combined_{0:D4}.dds</value>
            </setting>
            <setting name="DefaultSansSerifMetaFileName" serializeAs="String">
                <value>combined_sansserif.box</value>
            </setting>
            <setting name="DefaultSansSerifSurfaceFileFormat" serializeAs="String">
                <value>combined_sansserif_{0:D4}.dds</value>
            </setting>
            <setting name="DefaultTextureSize" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="DefaultGlyphSize" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="DefaultGlyphSpace" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="TexConvCommandLine" serializeAs="String">
                <value>-y -alpha -pow2 -m 1 -o {1} -f BGRA {0}</value>
            </setting>
        </Sakura.Tools.Aoe2FontGenerator.Properties.Settings>
    </applicationSettings>
</configuration>
